<p>
  Ticket Form
</p>
<form [formGroup]="ticketForm"
  (ngSubmit)="onSubmit()">

  <div>
    <label for="appName">Application Name</label>
    <input id="appName" type="text" formControlName="appName">
  </div>

  <div>
    <label for="description">Description</label>
    <input id="description" type="text" formControlName="description">
  </div>

  <div>
    <label for="status">Status</label>
    <input id="status" type="text" formControlName="status">
  </div>

  <button class="button" type="submit">Create</button>

</form>
  <p>{{message}}</p>
  <button (click)="goBack()">go back</button>